@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Oswald&family=Roboto&display=swap");
html {
  font-family: "Roboto", sans-serif;
}

body .main { 
  display: grid; 
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(5, 1fr); 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  }
  .side-bar { 
    grid-area: 1 / 1 / 6 / 2; 
    
  } 

  .main-dash { 
    grid-area: 1 / 2 / 6 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  } 
  
  .month-tab {
    padding: 15px 8px;
    border-color: rgba(0, 0, 0, 0.11);
    border-style: solid;
    border-radius: 25px;
    margin: 20px;
    font-size: 20px;
    text-align: center;
    color: #031D44;
  }
  .month-tab:hover {
    background-color: #39603D;
    color: white;
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.096) 0 8px 15px;


  }
  
  table, th, td {
    border: 1px solid;
  }

  table {
    width: 100%;
  }

  td {
    text-align: center;
  }

  body {
    background-color: #DADED4;
    margin: 0;
  }
  header {
    background-color: #18181a;
    width: 100vw;
    height: 75px;
    display: flex;
    border: none;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 40px;
  }
  img {
    margin-right: 20px;
  }
  h3 {
  }
  header h3 {
    display: block;
    color: darkgrey;
  }
  
  h1,
  h2,
  p {
    color: #3C403D;
  }
  .cards {
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, auto));
    width: 100%;

  }
  .innerCard {
    display: flex;
    justify-content: center;
    margin: 10px;
    /* text-align: center; */
    /* background-color: #314635b9;
     */
     background-color: rgba(250, 231, 184, 0.788);
    border: 1px solid rgb(0, 0, 0, 0.3);
    box-shadow: 10px 10px 8px #bbb;
    border-radius: 25px;
    /* padding: 10px; */
  /* max-width: 10vw;
  min-width: 10vw; */
}

.innerCard ul {
  color:#3C403D;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}

.founders {
  display: flex;
  justify-content: center;
  text-align: center;
}

.addExpense {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.balance {
  display: flex;
  justify-content: center;
}

h1 {
}
li {
  margin: 10px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

input {
  background-color: rgb(226, 226, 226);
  margin: 5px;
  padding: 5px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}

select {
  background-color:  rgb(226, 226, 226);
  margin: 5px;
  padding: 5px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}

.submit {
    appearance: none;
    background-color: #031D44;
    border: 2px solid  #031D44;
    border-radius: 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 45px;
    min-width: 0;
    outline: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 40%;
    will-change: transform;
}
  
  .submit:disabled {
    pointer-events: none;
  }
  
  .submit:hover {
    color: #fff;
    background-color:#031D44;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  

  .innerCard:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;

    }


.btnContainer {
  display: flex;
  justify-content: center;
}

.inner-container {
  background-color: #222;
}

.remove {
  appearance: none;
  background-color: #031D44;
  border: 2px solid  #031D44;
  border-radius: 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.remove:disabled {
  pointer-events: none;
}

.remove:hover {
  color: #fff;
  background-color:031D44;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.remove:active {
  box-shadow: none;
  transform: translateY(0);
}

span {
  font-size: 20px;
  margin-right: 5px;
}

.monthTotal{
  font-size: 30px;
}
